
*.zip

*.csv

*.png

*.jpg

*.docx

*.sln

1lab/scripts/ADIS_1lab/.vs/ADIS_1lab/v16/

*.csproj

*.exe

1lab/scripts/ADIS_1lab/ADIS_1lab/bin/Debug/

1lab/scripts/ADIS_1lab/ADIS_1lab/

1lab/scripts/ADIS_1lab/packages/EntityFramework.6.4.4/

1lab/scripts/ADIS_1lab/packages/EntityFramework.ru.6.2.0/

1lab/scripts/ADIS_1lab/packages/EntityFramework.SqlServerCompact.6.4.4/content/net40/

1lab/scripts/ADIS_1lab/packages/EntityFramework.SqlServerCompact.6.4.4/

1lab/scripts/ADIS_1lab/packages/Microsoft.SqlServer.Compact.4.0.8876.1/

1lab/scripts/ADIS_1lab/TestAdis/bin/Debug/

1lab/scripts/ADIS_1lab/TestAdis/Migrations/

*.config

1lab/scripts/ADIS_1lab/TestAdis/obj/Debug/

1lab/scripts/ADIS_1lab/TestAdis/Properties/
